.container{
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	border: solid 4px black;
	background-color: #C2D3DA;
	opacity: 0.8;

}
.container2{

	padding-top: 10px;
	background-color: #AFBADC;
	opacity: 0.8;
	font-weight: bolder;
	text-align: center;
	height: 200px;
	margin-bottom: 10px;

}

#sidebar{
	margin: 0;
	background-color: #A4A4BF;
	padding-bottom: 100%;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
	text-align: center;

}

#submitButton{
	background-color: #BFBFBF;

}


h3{
  font-weight: bolder;
  
}


h1{
	text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    font-family: 'Playball', cursive;
}


body{
	background-image: url("../images/image8.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
h1,h4{
	margin: 8px;
	padding: 8px;

}
.des{
	font-family: 'Playball', cursive;
	font-weight: bolder;
}