.container{
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	border: solid 4px black;
	background-color: #C2D3DA;

}


#sidebar{
	margin: 0;
	background-color: #A4A4BF;
	padding-bottom: 100%;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;

}

#submitButton{
	background-color: #BFBFBF;

}

h4{
  font-weight: bolder;
}

h3{
  font-weight: bolder;
}


h1{
	width: 100%;
	text-align: center;
    background-color: #AFBADC;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    font-weight: bolder;
    margin-bottom: 20px;
    font-family: 'Playball', cursive;


.row2{
	background-image: url("../images.number1.jpg");
}