.container2{
	border: solid 2px black;
	background-color: grey;
	
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	margin-top: 40px;
	background-image: url(../images/aqq.gif);
    background-repeat: no-repeat;
    background-size: cover;
	width: 1200px;
    border: 15px solid green;
    padding: 20px;
    margin: 20px;
    text-align: center;
   

}
.container1{
	background-color: black;
	opacity: 0.9;
	max-height: 450px;
	min-height: 200px;
    width: 1000px;
    border: 10px solid green;
    padding: 20px;
    margin: 20px;
    background-image: url(../images/y.gif);
    background-repeat: no-repeat;
    background-size: cover;

}
.text{

	padding-top: 10px;
	opacity: 0.8;
	font-weight: bolder;
	text-align: center;
	height: 200px;
	margin-bottom: 10px;	
}

}
#submitButton{
	background-color: #BFBFBF;
}
h3{
  font-weight: bolder;
  color: brown;
}
h1{
	text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    font-family: 'Playball', cursive;
}
body{
	background-image: url("../images/a.gif");
	background-repeat: no-repeat;
	background-size: cover;
}
h1,h4{
	
	padding: 8px;
	font-family: 'Alfa Slab One', cursive;
}
.des{
	font-family: 'Playball', cursive;
	font-weight: bolder;
	text-align: center;
}
.row2{
	text-align: initial;
	border: solid 2px black;
	background-color: #C2D3DA;
	font-weight: bolder;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	margin-top: 10px;
	background-image: url(../images/yy.gif);
    background-repeat: no-repeat;
    background-size: cover;
	width: 1100px;
    border: 20px solid #5C4957;
    padding: 10px;
    margin: 80px;
}
